#color-picker{
    color: #fff;
    width: 94%;
    height: 15px;
    padding: 8px 10px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    outline: none;
    font-family: Poppins-medium;
    text-align: center;
    margin-bottom: 20px;
}

.sp-original-input-container {
    background: none !important;
}